header{
    background-color: #63B3ED; 
    color: #FFFFFF; 
    text-align: center;
    height: 300px;
}
header h1{
    font-size: 36px; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin: 0;
}

header img {
    margin-top: 8px;
    width: 180px; 
    height: 180px; 
    border-radius: 50%; 
    object-fit: cover; 
}
body {
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

img{
    width: 250px;
}
.about{
    margin-top: 32px;
    background: #E2E8F0;
    height: 250px;
    max-width: 300px;

}
.about p{
    margin-left: 16px;
}
.about h3{
    margin-top: 16px;
    margin-left: 16px;
}
.container {
    display: grid;
    grid-template-columns: 3fr 1fr; /* 3 parts for the main content, 1 part for the sidebar */
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    gap: 20px;
    padding: 20px;
}
header {
    grid-area: header;
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
}
aside {
    grid-area: aside;
    margin-right: 80px;
}
aside h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px 0
}
.post{
    margin-top: 16px;
    min-width: 600px;
    max-width: 900px;
    margin-left: 96px;
}
.post h2{
    font-size: 32px; 
    color: #48BB78; 
    margin: 10px 0;
}
.post h5{
    color: #718096;
}
.post p{
    margin-left: 8px;
}
.social{
    margin-left: 16px;
    color: #4299E1;
}
.archive{
    margin-left: 16px;
}
footer {
    grid-area: footer;
    text-align: center;
    padding: 10px;
    background: #2C5282;
    margin-top: 20px;
    margin-left: 32px;
    margin-right: 32px;
    color: #FFFFFF;
}

.postcont {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 20px;
}

.postcont img {
    width: 300px; 
    height: auto;
    margin-left: 8px;
}
.postcont p {
    flex: 1; 
}